<div class="container__big-card">
  <div class="big-card__photo">
    <img src="../../../assets/images/iron-man.png" height="200px" alt="" srcset="">
  </div>
  <div class="big-card__title">
    <a href="#">Saiu a nova versão do Angular </a>
  </div>
  <div class="big-card__description">
    <p> <a href="#"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloremque libero aspernatur
        nisi dolor
        velit id voluptatum dignissimos quis animi similique, ullam eos enim assumenda natus tenetur! Possimus, fuga
        incidunt.
      </a>
    </p>

  </div>

</div>
