<app-menu-title />
<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1" photoCover="iron-man.png" cardTitle="NOVO HOMEM DE FERRO ANUNCIADO"
      cardDescription="Marvel Studios anuncia novo filme do homem de ferro. O filme será rodado nas cidades de São Paulo/Brasil e Rio de Janeiro/Brasil"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card Id="2" photoCover="iron-man.png" cardDate="14 Julho 2023"
      cardTitle="Marvel anuncia novo filme homem de ferro"></app-small-card>
    <app-small-card Id="3" photoCover="pantera-negra2.jpg" cardDate="14 Julho 2023"
      cardTitle="Pantera Negra nos cinemas"></app-small-card>
    <app-small-card Id="4" photoCover="xmen.avif" cardDate="14 Julho 2023" cardTitle="X Men o filme"></app-small-card>
  </div>

</div>
